body {
    margin: 0;
    background-color: #05110dcb;
}

main {
    margin: 0 auto;
    padding: 1.5em;
    max-width: 72ch;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooting: grayscale;

    font-family: Calibri;
    font-size: 1.4em;
    line-height: 2em;
    color: aliceblue;
}

a {
    color: #b0f8d6;
}

.circular--portrait {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: right;
}

.circular--icon {
    position: relative;
    width: auto;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline-block;
}

tab {
    margin: 40px;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: rgb(158, 112, 201);
    color: rgb(216, 187, 199);
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
}

#topButton:hover {
    background-color: rgb(76, 161, 201);
}

@media (max-width: 980px) {
    #topButton {
        font-size: 40px;
    }
}

p {
    text-justify: auto;
}